$roboto: 'Roboto', sans-serif;
$themes: (
	
	red: (
		primary: #fb0120
	),
	dark-orange: (
		primary: #fc6d24
	),
	light-orange: (
		primary: #fda331
	),
	green: (
		primary: #a1c659
	),
	teal: (
		primary: #76c7b7
	),
	blue: (
		primary: #6fb3d2
	),
	pink: (
		primary: #d381c3
	),
	brown: (
		primary: #be643c
	)

);