$colorBlack: #0e0e0e;
$colorRed: #ff3824;
$colorOrange: #ff9600;
$colorYellow: #ffcd00;
$colorGreen: #44db5e;
$colorBlue: #0076ff;
$colorViolet: #502f79;
$colorGreyLight: #eeeeee;
$colorGreyMedium: #cccccc;