TIMERS:

	<div class="global-controls">
		<button class="create-timer" {{action "createNewTimerInstance"}}>Create new timer</button>
	</div>

    {{#each timer in model itemController='item'}}
        <li>
			{{timer-block 
				
				title=timer.title 
				totalTime=timer.totalTime
				start="startTimerInstance"
				stop="stopTimerInstance"
				delete="deleteTimerInstance"
				notes=timer.notes
				active=timer.active

			}}
        </li>
    {{/each}}