TIMERS:

    {{#each timer in model}}
        <li>
			{{timer-block 
				
				title=timer.title 
				totalTime=timer.totalTime
				start="startTimerInstance"
				stop="stopTimerInstance"
				timer=timer
				notes=timer.notes
				active=timer.active

			}}
        </li>
    {{/each}}